@font-face {
  font-family: "Digital-Display";
  src: url(../../fonts/digital-display/Digital-Display.woff) format("woff"), url(../../fonts/digital-display/Digital-Display.woff2) format("woff2");
}
@font-face {
  font-family: "Monice";
  src: url(../../fonts/Monice/MoniceDemoBold-GOoEa.ttf) format("truetype"), url(../../fonts/Monice/MoniceDemoBold.woff) format("woff"), url(../../fonts/Monice/MoniceDemoBold.woff2) format("woff2");
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: #CECFD7;
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#navigation {
  position: absolute;
  width: 100vw;
  height: 26vh;
  width: 100dvw;
  bottom: 0;
  margin-bottom: 3vh;
  z-index: 1;
}

#main-home-container {
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 0.8fr 0.3fr;
}
#main-home-container .top-part {
  background-color: #f8f8f8;
  position: relative;
  z-index: 3;
  background-image: url(../../images/home-menu/background-lines.svg);
  background-position: center center;
  background-size: 100% auto;
  overflow-x: scroll;
}
#main-home-container .bottom-part {
  background-image: url(../../images/home-menu/home-page-tab.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1920/200;
  width: 100vw;
  width: 100dvw;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.time-container {
  display: flex;
  align-self: start;
  align-items: end;
  justify-content: center;
  gap: 1vw;
  gap: 1dvw;
  height: 60%;
  margin-top: -0.5%;
}
.time-container .time {
  font-family: "Digital-Display", sans-serif;
  font-size: 7vw;
  font-size: 7dvw;
  color: #9B9B9B;
  margin-top: auto;
}
.time-container .time-period {
  font-family: "Monice", serif;
  color: #9B9B9B;
  font-size: 2vw;
  font-size: 2dvw;
  line-height: 1;
}

@supports (width: 1cqw) {
  .time-container {
    gap: 1cqw;
  }
  .time-container .time {
    font-size: 7cqw;
  }
  .time-container .time-period {
    font-size: 2cqw;
  }
}
li {
  list-style: none;
}

#wii-box-main-container {
  height: 100%;
  display: flex;
  gap: 1.5vh;
  bottom: 0;
  position: absolute;
  padding: 6vh 12% 1vh 12%;
}

.wii-box-container {
  display: grid;
  gap: 1.5vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.wii-box {
  aspect-ratio: 650/356;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wii-box img {
  aspect-ratio: 650/356;
  width: 100%;
  position: absolute;
}
.wii-box .wii-outline {
  z-index: 2;
}
.wii-box .wii-background {
  z-index: 0;
}
.wii-box .wii-tv-animation {
  aspect-ratio: 650/356;
  background-size: 100% 100%;
  border-radius: 12%;
  width: 98%;
  position: absolute;
  z-index: 1;
  animation-duration: 45s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: tvstatic;
  animation-timing-function: linear;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(151, 151, 151, 0.4) 50%, rgba(255, 255, 255, 0.4) 100%);
}

@keyframes tvstatic {
  0% {
    background-position: 0% -30vh;
  }
  100% {
    background-position: 0% 70vh;
  }
}

/*# sourceMappingURL=home-menu.css.map */
