@use 'reusuable-components';


.wii-box-list{
    width: 100%;
    height:100%;
    position: relative;
    cursor: pointer;
}
.channel-parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 100;
    // transform-origin: 0 0;
    // scale: 1;

    .black-overlay{
        position: fixed;
        background-color: black;
        width: 150vw;
        height: 150vh;
    }

}
.shape-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; 
    display: grid;
    grid-template-rows: .76fr .24fr;
    background-color: white;
}

svg {
    position: absolute;
    width: 0; 
    height: 0;
}

.clip-path {
    clip-path: url(#custom-shape);
}

.channel-footer{
    background-image:
    linear-gradient(to bottom, transparent 75%, white 25%),
    radial-gradient(circle, #ffffff 0%, #c9c9c1 100%);
    background-size:100% 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: 1px black solid;
    position: relative;
    gap: 5%;
    z-index: 1;

}
.divider{
    // background-image:
    // linear-gradient(black 20% ,white 10%);
    width: 100%;
    height: .1rem;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, transparent 80%, #000000 20%);
    // background-size:100% 100%;
    // overflow: hidden;
}

.overlay-menu-btn{
    border: none;
    aspect-ratio: 	17/5;
    font-size: .6vw;
    background-color: transparent;
    margin-top: -2%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    position: relative;
    text-align: center;
    font-family: reusuable-components.$menu-font-stack;
    color: reusuable-components.$color;
    cursor: pointer;
    
    img{
        width: 100%;
        height: 100%;
    }
    p{
        position: absolute;
    }
}
.overlay-slide{
    width: 100%;
    height: 100%;
}

// Portfolio Wii Box

.disc-overlay{
    display: flex;
    flex-direction: column;
    .disc-channel-header{
        width: 100%;
        display: flex;
        position: relative;
        top: -.4%;
        img{
            width: 100%;
        }
        p{
            position: absolute;
            font-size: .4rem;
            bottom: 8%;
            right: 2.4rem;
            color: white;
            font-family: reusuable-components.$menu-font-stack;
        }
    }

    .disc-channel-body{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        position: relative;
        
        .disc-bg{
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(0deg, rgb(227, 230, 230,.99) 0%, rgba(232,233,233,0.75) 18%, rgba(240, 240, 240, 0.5) 61%, rgba(255,255,255,0.5) 100%);
            z-index: 1;
        }
        img{
            position: absolute;
            height: 60%;
        }
        .insert-disc{
            z-index: 1;
        }
        .insert-disc-reflection{
            bottom: -31%;
            transform: scaleY(-1);
            
        }
    }
 
}