@use 'reusuable-components';

.wii-box-list{
    width: 100%;
    height:100%;
    position: relative;
}
.channel-parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 100;
    // transform-origin: 0 0;
    // scale: 1;

    .black-overlay{
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 100vh;
    }
}
.shape-container {
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: black;
    overflow: hidden; /* Ensure no content overflows the shape */
    display: grid;
    // grid-template-rows: calc(.76fr - .5px) calc(.24fr - .5px);
    grid-template-rows: .76fr 1px .24fr;
    background-color: white;
}

svg {
    position: absolute;
    width: 0; /* Hide the SVG visually */
    height: 0;
}

.clip-path {
    clip-path: url(#custom-shape);
}

.channel-footer{
    background-image:
    linear-gradient(to bottom, transparent 75%, white 25%),
    radial-gradient(circle, rgb(255, 255, 255) 0%, #c9c9c1 100%);
    background-size:100% 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: 1px black solid;
    gap: 5%;
    z-index: 1;

}
.divider{
    background-image:
    linear-gradient(to bottom,transparent 50%, black 50% );
    // background-size:100% 50%;
    overflow: hidden;
    // margin-bottom: -1.5px;
}

.overlay-menu-btn{
    border: none;
    aspect-ratio: 	17/5;
    font-size: .6vw;
    background-color: transparent;
    margin-top: -2%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    position: relative;
    text-align: center;
    font-family: reusuable-components.$menu-font-stack;
    color: reusuable-components.$color;
    cursor: pointer;
    
    img{
        width: 100%;
        height: 100%;
    }
    p{
        position: absolute;
    }
}
