@font-face {
    font-family: "Digital-Display";
    src:
    url(../../fonts/digital-display/Digital-Display.woff) format('woff'),
    url(../../fonts/digital-display/Digital-Display.woff2) format('woff2');
}

@font-face {
    font-family: "Monice";
    src: url(../../fonts/Monice/MoniceDemoBold-GOoEa.ttf) format('truetype'),
    url(../../fonts/Monice/MoniceDemoBold.woff) format('woff'),
    url(../../fonts/Monice/MoniceDemoBold.woff2) format('woff2');
    font-weight: bold;
}

@font-face{
    font-family:"WiiSans";
    src: url(../../fonts/WiiSans-Regular-4.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#root{
    height: 100%;
    width: 100%;
}


.main-container{
    background-color: #CECFD7;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition:transform .5s;
    outline: 1px transparent;
}

#navigation{
    position: absolute;
    width: 100vw;
    height: 26vh;
    width: 100dvw;
    // height: 20dvh;
    bottom: 0;
    margin-bottom: 3vh;
    z-index: 1;
}

// Background Styling

#main-home-container{
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: .8fr .3fr;

    .top-part{
        &.no-scroll{
            overflow: hidden;
        }
        background-color: #f8f8f8;
        position: relative;
        z-index: 3;
        background-image: url(../../images/home-menu/background-lines.svg);
        background-position: center center;
        background-size:100% auto;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .bottom-part{
        background-image: url(../../images/home-menu/home-page-tab.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        aspect-ratio: 1920/200;
        width: 100vw;
        width: 100dvw;
        display: flex;
        justify-content: center;
        // z-index: 2;
    }
}

// Time Styling

.time-container{
    display: flex;
    align-self: start;
    align-items: end;
    justify-content: center;
    gap: 1vw;
    gap: 1dvw;
    height: 60%;
    margin-top: -.5%;



    .time{
        font-family: "Digital-Display",sans-serif;
        font-size: 7vw;
        font-size: 7dvw;
        color: #9B9B9B;
        margin-top: auto;
    }

    .time-period{
        font-family: "Monice", serif;
        color: #9B9B9B;
        font-size: 2vw;
        font-size: 2dvw;
        line-height: 1;
    }
}

@supports (width: 1cqw) {
    .time-container {
        gap: 1cqw; 
    }

    .time-container .time {
        font-size: 7cqw; 
    }

    .time-container .time-period {
        font-size: 2cqw; 
    }
}


// Wii Box

li{
    list-style: none;
}

#wii-box-main-container{
   
    height: 100%;
    display: flex;
    gap: 1.5vh;
    bottom: 0;
    position: absolute;
    padding: 7vh 8.5vw 1.5vh 8.5vw;
}

.wii-box-container{
    // width: 8vw;
    display: grid;
    gap: 1.5vh;
    width: 83vw;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr); 
}







//   Scroll Buttons

 .scroll-main-btn-container{
    height: 66vh;
    width: 7.8vw;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    .image-container{
        width: 67%;
        // height: 100%;
    }
    &.right-scroll{
        right: 0;
        .scroll-btn-container{
            margin-right: 95%;
            justify-content: end;
            .home-btn{
                position: absolute;
                // right:  2.25vw;
                right:  2vw;
            }
        }
    }
    &.left-scroll{
        left: 0;
        .scroll-btn-container{
            margin-left: 95%;

            .home-btn{
                left:  2vw;
                position: absolute;
            }
        }

    }

    .scroll-btn-container{
        width: 100%;
        height: 20%;
        margin-bottom: 24%;
        display: flex;
        position:absolute;
        align-items: center;
    }
    .scroll-btn{
        height: 80%;
        background: none;
        border: none;
        cursor: pointer;
        img{
            height: 100%;
            aspect-ratio:61/103;
        }
    }
    .scroll-hover-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    .home-btn{
        border:#34beed solid .29vw;
        &.scroll{
            height:115%;
            
            & img:last-child{
                width: 100%;
            }
        }
    }
 }

  
