@font-face {
    font-family:"FOTRodinNTLGProDB" ;
    src: url('../../fonts/FOTRodinNTLGProDB/FOTRodinNTLGProDB.otf') format('opentype'),
    url('../../fonts/FOTRodinNTLGProDB/RodinNTLGPro-DB-AlphaNum.woff') format('woff'),
    url('../../fonts/FOTRodinNTLGProDB/RodinNTLGPro-DB-AlphaNum.woff2') format('woff2');
}

#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;

    #navigation-date{
        font-family: 'FOTRodinNTLGProDB', sans-serif;
        font-size: 2.8cqw;
        text-wrap: nowrap;
        margin-top: 5%;
        color: #787879;
    }

    .navigation-btn-container{
        width: calc(14.5vw * 2);
        width: calc(14.5dvw * 2);
        height:23vh;
        height: 23dvh;
        margin-top: -1cqh;
        border-radius: 100rem;
        background: linear-gradient(180deg, #ffffff69 25% ,#D2D4DB 100%);
        position: relative;
        border: #B3B5BC solid;
        border-width: 1.2vw .9vw;
       
        position: relative;
        filter: blur(.07vw);

        &.left{
            left:-12.5%;
        }

        &.right{
            right: -12.5%;
        }
    }

    .navigation-btn-container:before{
        content: '';
        position: absolute;
        border: #ffffff96 solid .5vw;
        top: -.9vw;
        left: -.4vw;
        bottom: -.7vw;
        right: -.4vw;
        pointer-events: none;
        z-index: 1;
        border-radius: 100rem;
        filter: blur(.12vw);
        
    }
}

@supports (width: 1cqw) {
    #navigation{
        .navigation-btn-container{
            width: calc(14.5cqw * 2);
            height: 23cqh;
        }
    }
    
}


