@font-face {
    font-family:"FOTRodinNTLGProB" ;
    src: url('../../fonts/FOTRodinNTLGPro/FOTRodinNTLGProB/FOTRodinNTLGProB.otf') format('opentype'),
    url('../../fonts/FOTRodinNTLGPro/FOTRodinNTLGProB/RodinNTLGPro-B-AlphaNum.woff') format('woff'),
    url('../../fonts/FOTRodinNTLGPro/FOTRodinNTLGProB/RodinNTLGPro-B-AlphaNum.woff2') format('woff2');
}



#navigation{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    z-index: 0;

 

    #navigation-date{
        font-family: 'FOTRodinNTLGProB', sans-serif;
        font-size: 2.8cqw;
        width: 100vw;
        margin-bottom: .4%;
        text-wrap: nowrap;
        color: #787879;
        position: absolute;
        display: flex;
        justify-content: center;

    }

    .navigation-big-container{
        display: flex;
        // transform: rotate(180deg);
    
        position: absolute;


        &.left-side{
            left: -29vw;
            transform-origin: 58% 50% ;
        }

        &.right-side{
            right: -26vw;
        }

        .navigation-btn-container{

                
        &.left-side.left{
            padding-left: 2vw;
            padding-right: 7.5vw;
        }
        &.left-side.right{
            padding-right: 2vw;
            padding-left: 7.5vw;
            
        }
        &.right-side.right{
            padding-left: 10vw;
        }
        &.right-side.left{
            padding-right: 10vw;

        }

        &.left-side.left::before{
            top: .5vw;
            left: .25vw;
            bottom: -1vw;
            right: .25vw;
        }

        &.left-side.right::before{
            top: -1vw;
            left: .25vw;
            bottom: .5vw;
            right: .25vw;
        }

        &.right-side.left::before{
            top: -1vw;
            left: -1vw;
            bottom: .5vw;
            right: -1vw;
        }

        &.right-side.right::before{
            top: .5vw;
            left: -1vw;
            bottom: -1vw;
            right: -1vw;
        }


            .navigation-small-btn-container{
                display: flex;
                justify-content: flex-start;
                align-self: flex-end;
                gap: 2.5%;
                margin-bottom: 1%;
            }
        }
    }


  
}

.navigation-btn-container.left-side.right > button{
    // margin-right: 7%;
    margin-top: -2.3%;
}


.navigation-btn-container.right-side.left >button{

    margin-left: 1%;
    margin-top: -.7%;

    img:last-child{
        aspect-ratio: 96/64 ;
        width: 50%;
    }
  
}


   



