@font-face {
    font-family: "FOTRodinNTLG DB";
    src: url('../../fonts/FOTRodinNTLG\ Pro\ DB.otf') format('opentype');
}


.home-btn{
    border:#34beed solid 4px;
    border-radius: 50%;
    background-color: #dedede;
    width:300px;
    height: 300px;
    box-shadow: 18px 18px 2px -3px #BCBDC3, inset -5px -20px 50px 0px rgba(0, 0, 0, 0.20);
    position: relative;

    img{
        width: 71%;
        height: 71%;
        position: relative;
        right: 11%;
        top: -11%;
    }
}

.menu-btn{
    position: relative;
    // width:500px;
    width: 546px;
    height: 148px;
    // aspect-ratio: 546/148;
    background: #E3E8EF;
    opacity: 0.9;
    border: 4px solid #34BEED;
    box-shadow: 0px 0px 5px #34BEED, inset 10px 9px 60px #FFFFFF, inset 0px -10px 19px 16px #B1BCCA;
    border-radius: 100px;
    font-family: "FOTRodinNTLG DB", sans-serif;
    font-size: 59px;
    color: #353a3b;
    
    img{
        // aspect-ratio:493/93;
        // width: 447px;
        position: absolute;
        z-index: -1;
        right: 8%;
        top: 4%;
    }
}


/* Button Wii Menu */

// position: relative;
// width: 546px;
// height: 148px;

// background: #E3E8EF;
// opacity: 0.9;
// border: 4px solid #34BEED;
// box-shadow: 0px 0px 5px #34BEED, inset 10px 9px 60px #FFFFFF, inset 0px -10px 19px 16px #B1BCCA;
// border-radius: 170px;


/* Vector 3 */

// position: absolute;
// width: 487px;
// height: 87px;
// left: 13px;
// top: 9px;

// background: #FFFFFF;
// filter: blur(1.5px);


/* Wii Menu */

// position: absolute;
// width: 272px;
// height: 118px;
// left: calc(50% - 272px/2);
// top: calc(50% - 118px/2 - 5px);

// font-family: 'FOT-RodinBokutoh Pro';
// font-style: normal;
// font-weight: 600;
// font-size: 59px;
// line-height: 118px;
/* identical to box height */
// text-align: center;

// color: #383E3F;







