@font-face {
    font-family: "FOTRodinNTLG DB";
    src: url('../../fonts/FOTRodinNTLGProDB.otf') format('opentype'),
    url('../../fonts/FOTRodinNTLGPro/FOTRodinNTLGProDB/RodinNTLGPro-DB-AlphaNum.woff') format('woff'),
    url('../../fonts/FOTRodinNTLGPro/FOTRodinNTLGProDB/RodinNTLGPro-DB-AlphaNum.woff2') format('woff2');
}
@font-face {
    font-family: "WiiSans-Regular";
    src: url('../../fonts/WiiSans-Regular-4.otf') format('opentype');
}

/* Ellipse 5 */

// position: absolute;
// width: 162px;
// height: 162px;
// left: 0px;
// top: 0px;

// background: #D9D9D9;
// border: 4px solid #34BEED;
// box-shadow: 18px 18px 2px -3px #BCBDC3, inset -6px -6px 14px rgba(0, 0, 0, 0.26);



.home-btn{
    border:#34beed solid .29vw;
    border-radius: 50%;
    background-color: #f5f4f4;
    aspect-ratio: 1/1;
    height: calc(22vh/1.2);
    // width: 9vw;
    box-shadow: .7cqw .8cqw .1cqw -.2cqw #00000021, inset 0 0 .6cqw .8cqw rgba(0, 0, 0, 0.054), inset -3cqw -3cqw .5cqw 0cqw rgba(0,0,0,0.05);
    position: relative;
    z-index: 1;
    margin-top: -.7%;
    // margin-bottom: 5%;
    // margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.large{
        height: calc(22vh/1.1);
        transform: rotate(180deg);
        margin-right: -1.3%;
        margin-top: 2%;

        & img:last-child{
            width: 60%;
            aspect-ratio: 53/38;
        }
    }

    &.small{
        transform: rotate(180deg);
        height: calc(22vh/1.4);
    }

    &.small img:last-child{
        aspect-ratio: 54/53;
        width: 45%;
        

    }


    p{
        z-index: 0;
        text-align: center;
        font-family: "WiiSans-Regular", sans-serif;
        font-size: calc(6.5vh/1.2);
        color: #999999;
    }
    .btn-highlight{
        aspect-ratio: 54/52;
        width: 66%;
        position: absolute;
        right: 29%;
        top: 6.5%;
        z-index: 1;

    }
}

.navigation-btn-container.right{

    .medium{
        margin-left: 1%;
    }
    .medium img:last-child{
        aspect-ratio: 96/64 ;
        width: 50%;
    }
}

.menu-btn{
    position: relative;
    // width:500px;
    width: 546px;
    height: 148px;
    // aspect-ratio: 546/148; 
    background: #E3E8EF;
    opacity: 0.9;
    border: 4px solid #34BEED;
    box-shadow: 0px 0px 5px #34BEED, inset 10px 9px 60px #FFFFFF, inset 0px -10px 19px 16px #B1BCCA;
    border-radius: 100px;
    font-family: "FOTRodinNTLG DB", sans-serif;
    font-size: 59px;
    color: #353a3b;
    
    img{
        aspect-ratio:493/93;
        width: 447px;
        position: absolute;
        z-index: -1;
        right: 8%;
        top: 4%;
    }
}









